*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: rgba(29, 191, 240, 0.788);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card{
    height: 480px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    border: 3px solid black;
    position: relative;
    overflow: hidden;
}

#stories{
    height: 120px;
    width: 100%;
   
    border-bottom: 1px solid #555;
    padding:15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

}

#stories::-webkit-scrollbar{

    display: none;

}

.story{
   border: 3px solid red;
    height: 90px;
    border-radius: 50%;
    width: 90px;
    display: inline-block;
    overflow:hidden;
    margin-right: 5px;

   
}

.story img{
    height: 100%;
    width: 100%;
    /* border-radius:50%; */
    object-fit: cover;
    object-position: center;
}

#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position:absolute;
    display: none;
}